body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}
